
.tooltip {
    position: absolute;
    /*text-align: center;*/
    font: 12px sans-serif;
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 18px sans-serif;
}

.table {
    font-size: 0.7em;
}

.x-axis, .y-axis {
    font-size: .5em;
}

.axis-label {
    font-size: 7px;
}

.bar-title, .map-title {
    font-size: 9px;
}
.valueBars {
    z-index: -1;
}

.labelBarValue {
    font-size:7px;
    z-index: 10;
    text-anchor: middle;
}
